.btn_color{  
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-left: 1rem;
    border: none;
    margin-top: 3rem;
    cursor: pointer;
}
.b1{
        background-color: #e809bf;
}

.b1:hover{
         border:4px solid rgba(255, 140, 234,.7);
          margin-left: 1rem;
    	  transform: translateY(-3px);
}
@keyframes rotate{
	0%{
        transform: rotate(0deg);
	}
	25%{
            transform: rotate(360deg);
	}
	50%{
               transform: rotate(720deg);
	}
	75%{
            transform: rotate(1080deg);
	}
	100%{
             transform: rotate(1440deg);
	}

}

.animate{
  /*visibility: visible;*/
	height:5rem;
	width: 5rem;
	border:red;
	position: absolute;
	animation: rotate 5s ease-in-out 1;

}
.size{
  height: 5rem;
  width:5rem;
  position: absolute;
  top:3rem;
  left:10rem;
  /*visibility: hidden;*/
  /*margin-left:10rem; */

}

.anim{
  height:10rem;
  width: 10rem;
  position: absolute;
  margin-left:1rem;

}

@keyframes some{
      0%{
        opacity: 0;
      }
      25%{
        opacity: 0;
      }
      75%{
        opacity:0;
      }

      100%{
        opacity:1;
      }
}

.fadeIn{
  animation: some 7s ease-in-out 1;
}
.container{
  height:20rem;
  width:20rem;
  background-color: lightgray;
}
